body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

h2 {
    color: #555;
    margin-top: 30px;
}

*{
    margin:0px;
    padding:0px;
    font-family: avenir, sans-serif;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}

nav a:hover {
    color:orange;
    border-bottom: 2px solid gold;
}

#reader {
    position: relative;
    width: 300px;
    height: 180px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
}

#reader video,
#reader canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

li {
    margin: 10px 0;
}

